body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    background: url('stadium.png') no-repeat center center fixed;
    background-size: 100%;
    
}


    body::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.65);
        backdrop-filter: blur(3px);
    }


.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 490px;
    padding: 45px;
    border-radius: 18px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    border: 1px solid rgba(255,255,255,0.2);
    text-align: center;
    color: white;
}


.logo {
    width: 300px;
    margin-bottom: 20px;
}


.loginBox h2 {
    margin-bottom: 25px;
    font-size: 28px;
}



.loginBox label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
}



.loginBox input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background: rgba(255,255,255,0.2);
    color: white;
    font-size: 15px;
    outline: none;
}



    .loginBox input:focus {
        background: rgba(255,255,255,0.3);
        box-shadow: 0 0 10px #0078D7;
    }



.btnLogin {
    width: 100%;
    padding: 20px;
    margin-top: 25px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(45deg,#0078D7,#00BFFF);
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}



    .btnLogin:hover {
        transform: scale(1.05);
        background: linear-gradient(45deg,#005fa3,#009acd);
    }
